@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .active {
    @apply text-primary;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@font-face {
  font-family: "poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "poppinsBold";
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "poppinsExtraBold";
  src: url("./assets/fonts/Poppins-ExtraBold.ttf");
}

/* working with scrollbar */

/* scroll bar style  */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5e7fa3;
  opacity: 0.3;
  /* border-radius: 0px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5e7fa3;
}

/* caroussel */

.slick-slider{
  box-shadow: none;
}
.slick-list{
  padding-bottom: 50px !important;
}

.slick-slide{
  display: flex !important;
  justify-content: center !important;
}
